TOSSINVEST_CLIENT_ID=
TOSSINVEST_CLIENT_SECRET=
TOSSINVEST_ACCOUNT_SEQ=
OPENAI_API_KEY=
TOSSINVEST_ORDER_MODE=disabled
TOSSINVEST_ENABLE_TEMP_SCREENING=0
SHARED_CONTEXT_DB_PATH=C:\Users\lmhk2\Documents\New project\shared_market_context\shared_context.db
